<template>
    <div class="address-dashboard">
        <address-manager></address-manager>
    </div>
</template>

<script>
import AddressManager from '../address/AddressManager'

export default {
    components: { AddressManager },
    created() {
        this.$store.dispatch('fetchAddresses')
    }
}
</script>
