<template>
    <div class="config-dashboard">
        <form @submit.prevent="submitUser">
            <div class="form-group">
                <label for="user.name">Nombre</label>
                <input class="form-control" type="text" v-model="user.name" required/>
            </div>
            <div class="form-group">
                <label for="user.email">Correo electrónico</label>
                <div class="alert alert-warning" v-if="!user.email_validated_at">
                    <h5>Tu correo no ha sido validado</h5>
                    Por favor, valídalo para poder completar compras
                </div>
                <input class="form-control" type="email" v-model="user.email" required/>
            </div>
            <div class="form-group">
                <label for="user.phone_numbers">Número(s) de teléfono</label>
                <small class="text-muted">Para facilitar el contacto al momento de hacer una órden</small>
                <array-input v-model="user.phone_numbers" display="block"/>
            </div>
            <button class="btn btn-primary" :disabled="!userChanged">Guardar cambios</button>
        </form>
        <form class="mt-5 py-5" @submit.prevent="submitNewPassword">
            <h3>Cambiar mi contraseña</h3>
            <div class="form-group">
                <label for="user.old_password">Contraseña anterior</label>
                <input type="password" v-model="user.old_password" name="user.old_password" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="user.new_password">Nueva contraseña</label>
                <input type="password" v-model="user.new_password" name="user.new_password" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="user.new_password_confirm">Nueva contraseña <span class="text-muted">(confirmación)</span></label>
                <input type="password" v-model="user.new_password_confirm" name="user.new_password_confirm" class="form-control" required>
            </div>
            <div class="alert alert-warning" v-if="user.new_password != user.new_password_confirm">
                <span>Las nuevas contraseñas no coinciden</span>
            </div>
            <button class="btn btn-outline-primary" :disabled="!(user.new_password && user.new_password == user.new_password_confirm)">Cambiar contraseña</button>
        </form>
        <section class="alert alert-danger">
            <h3>Eliminar mi cuenta</h3>
            <div v-show="accountDeletionRequested" class="mb-5">
                <label for="user.password">Introduce tu contraseña para confirmar la eliminación de tu cuenta</label>
                <input class="form-control" type="password" v-model="user.password">
            </div>
            <button class="btn btn-danger" @click="accountDeletionRequested ? deleteAccount() : requestAccountDeletion()">Eliminar mi cuenta</button>
        </section>
    </div>
</template>

<script>
import ArrayInput from '../ArrayInput'

export default {
    data() {
        return {
            accountDeletionRequested: false,
            user: {
                name: '',
                email: '',
                phone_numbers: [],
                old_password: '',
                new_password: '',
                new_password_confirm: '',
                password: ''
            }
        }
    },
    components: { ArrayInput },
    props: [ 'user-model' ],
    computed: {
        userChanged() {
            return this.user.name != this.userModel.name
                || this.userModel.email != this.user.email
                || _.xor(this.userModel.phone_numbers, this.user.phone_numbers).length
        }
    },
    created() {
        Object.assign(this.user, _.cloneDeep(this.userModel))
    },
    methods: {
        requestAccountDeletion() {
            this.accountDeletionRequested = true
        },
        submitUser() {
            let data = new FormData()
            let t = this

            data.append('name', this.user.name)
            data.append('email', this.user.email)
            data.append('phone_numbers', JSON.stringify(this.user.phone_numbers))

            axios.post('/user', data).then((r) => {
                if (!r.isAxiosError) {
                    let alertMessage = "Sus cambios han sido guardados."

                    if (t.userModel.email != t.user.email)
                        alertMessage += " Recibirá un correo para confirmar su correo electrónico."

                    alert(alertMessage)
                }
            }).catch((e) => {
                alert('Error guardando sus cambios')
            })
        },
        submitNewPassword() {
            let data = new FormData()
            let t = this

            data.append('old_password', this.user.old_password)
            data.append('new_password', this.user.new_password)

            axios.patch('/user/password', data).then((r) => {
                if (!r.isAxiosError) {
                    let alertMessage = "Sus cambios han sido guardados."

                    if (t.userModel.email != t.user.email)
                        alertMessage += " Recibirá un correo para confirmar su correo electrónico."

                    alert(alertMessage)
                }
            }).catch((e) => {
                switch (e.response.status) {
                    case 400:
                        alert(e.response.data)
                        break
                    default:
                        alert('Error guardando sus cambios')
                }
            })
        },
        deleteAccount() {
            let data = new FormData()
            data.append('password', this.user.password)
            axios.delete('/user', data).then((r) => {
                if (!r.isAxiosError)
                    window.location = '/'
            })
        }
    }
}
</script>
