<template>
    <div class="order-dashboard">
        <div v-if="!orders.length">
            <p>No has hecho ninguna orden. ¡Nunca es tarde para empezar!</p>
            <a href="/productos" class="btn" :class="cartItems ? 'btn-secondary' : 'btn-primary'">Busca productos</a>
            <a href="/carrito" v-if="cartItems" class="btn btn-primary">Revisa tu carrito</a>
        </div>
        <div class="payment-pending-orders mb-5" v-if="paymentPendingOrders.length">
            <h3>Órdenes pendientes de pago</h3>
            <p class="text-muted">Todas las órdenes caducan tres horas después de crearse si no son pagadas</p>
            <order-preview v-for="order in paymentPendingOrders" :order="order" :key="order.id"></order-preview>
        </div>
        <div class="shipping-pending-orders mb-5" v-if="shippingPendingOrders.length">
            <h3>Órdenes pendientes de envío</h3>
            <order-preview v-for="order in shippingPendingOrders" :order="order" :key="order.id"></order-preview>
        </div>
        <div class="fulfilled-orders" v-if="fulfilledOrders.length">
            <h3>Órdenes completadas</h3>
            <order-preview v-for="order in fulfilledOrders" :order="order" :key="order.id"></order-preview>
        </div>
    </div>
</template>

<script>
import OrderPreview from '../OrderPreview'

import { mapGetters } from 'vuex'

export default {
    components: { OrderPreview },
    computed: {
        ...mapGetters({
            orders: 'getOrders',
            cartItems: 'countCartItems',
            paymentPendingOrders: 'getPaymentPendingOrders',
            shippingPendingOrders: 'getShippingPendingOrders',
            fulfilledOrders: 'getFulfilledOrders',
        })
    },
    created() {
        this.$store.dispatch('fetchOrders', { append: ['products.quantity'] })
        this.$store.dispatch('fetchCart')
    }
}
</script>
