<template>
    <div class="user-dashboard">
        <h4 class="text-muted">Hola, {{ user.name }}</h4>
    </div>
</template>

<script>
export default {
    data() {
        return {}
    },
    props: ['user']
}
</script>
