<template>
	<div class="category-picker">
		<span class="small text-info">
			<i class="fas fa-info-circle"></i> Pulse el botón de '+' para agregar una nueva categoría
			<span v-if="value && !showNewOptionInput">de {{ pickedOptionName.toLowerCase() }}</span>
		</span>
		<div class="row">
			<div :class="showNewOptionInput ? 'col-12' : 'col-10'">
				<treeselect :options="treeselectOptions" v-model="v" :required="required" placeholder="Seleccione una categoría"/>
			</div>
			<div class="col-2" v-if="!showNewOptionInput">
				<button class="btn btn-outline-secondary btn-block" type="button" @click="showNewOptionInput = true">&plus;</button>
			</div>
		</div>
		<div class="input-group my-3" v-if="showNewOptionInput">
			<div class="input-group-prepend" v-if="pickedOptionName">
				<span class="input-group-text">{{ pickedOptionName }}</span>
			</div>
			<input class="form-control" type="text" v-model="newOption.name" placeholder="Nueva categoría"/>
			<div class="input-group-append">
				<button class="btn btn-outline-secondary" @click="showNewOptionInput = false" type="button">&times;</button>
				<button class="btn btn-outline-primary" @click="addOption" type="button">&plus;</button>
			</div>
		</div>
		<div class="alert alert-info my-3 text-center" v-show="loading">
			<i class="fas fa-spinner fa-spin"></i>
			Espere
		</div>
	</div>
</template>

<style lang="sass">

// Variables
@import '../../../sass/variables'

.vue-treeselect__control
	border-radius: 0
	padding: .375rem .75rem
	border: none
	border-bottom: solid 2px $primary
</style>

<script>
import Treeselect from '@riophae/vue-treeselect'

import '@riophae/vue-treeselect/dist/vue-treeselect.css'

const emptyOption = {
	name: '',
	subcategories: [],
	parent_id: null,
}

export default {
	data() {
		return {
			loading: false,
			newOption: _.clone(emptyOption),
			showNewOptionInput: false,
			v: null,
		}
	},
	components: { Treeselect },
	props: [ 'options', 'value', 'required'],
	computed: {
		treeselectOptions() {
			return this.options.map(function n(option) {
				return {
					id: option.id,
					label: option.name,
					children: option.subcategories ? option.subcategories.map(n) : undefined
				}
			})
		},
		pickedOptionName() {
			if (this.value)
				return this.$store.getters.getCategoryById(this.value).name
		}
	},
	watch: {
		value(value) {
			this.v = value
		},
		v(value) {
			this.$emit('input', value)
		}
	},
	methods: {
		addOption() {
			let t = this
			this.loading = true
			this.newOption.parent_id = "undefined" == typeof this.value ? null : this.value

			this.$store.dispatch('insertCategory', this.newOption).then(() => {
				// picked option is last one
				t.pickedIndex = t.options.length - 1
			}).then(() => {
				Object.assign(t.newOption, emptyOption)
				t.loading = false
				t.showNewOptionInput = false
			})
		},
	}
}
</script>
