<template>
    <div class="card mb-3">
        <div class="card-header" :class="{ 'bg-info': isPendingShipment, 'bg-danger': order.conflict}">
            <h5 class="card-title mb-0 text-truncate">Orden #{{ order.id }}</h5>
            <span class="badge badge-dark" v-if="isPendingShipment">Envío pendiente</span>
            <span class="badge badge-danger" v-if="order.conflict">Conflicto</span>
        </div>
        <div class="card-body">
            <div class="shipping-info mb-3">
                <div class="row">
                    <div class="col-md-6">
                        <h5>Enviar a</h5>
                        {{ order.user.name }}<br>
                        {{ order.address.address }}
                        {{ order.address.city }},
                        {{ order.address.state }},
                        {{ order.address.country }}
                        C.P. {{ order.address.zip_code }}
                        <div v-if="order.user.phone_numbers" class="my-3">
                            <h5>Teléfonos de contacto</h5>
                            <span class="mr-2" v-for="phoneNumber in order.user.phone_numbers">{{ phoneNumber }}</span>
                        </div>
                    </div>
                    <div class="col-md-6" v-if="order.address.extra_info">
                        <h5>Información de envío adicional</h5>
                        {{ order.address.extra_info }}
                    </div>
                </div>
            </div>
            <h5>Productos ordenados</h5>
            <table class="table table-sm">
                <thead class="table-dark">
                    <tr>
                        <th>Nombre</th>
                        <th>Tipo</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody class="table-light">
                    <tr v-for="product in order.products">
                        <th>{{ product.name }}</th>
                        <td>{{ product.type }}</td>
                        <td>{{ product.quantity }}</td>
                        <td class="text-right">{{ product.price | currency }}</td>
                    </tr>
                    <tr class="table-secondary">
                        <th>Total</th>
                        <td class="text-right" colspan="3">{{ total | currency }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer text-right">
            <button class="btn btn-info" v-if="isPendingShipment" @click="markAsShipped">Marcar como enviada</button>
            <button class="btn btn-dark" v-if="wasShipped" @click="markAsDelivered">Marcar como entregada</button>
        </div>
    </div>
</template>

<script>
export default {
    props: ['order'],
    computed: {
        isPendingShipment() {
            return this.order.paid && !this.order.shipment_status
        },
        wasShipped() {
            return this.order.shipment_status && !this.delivered
        },
        total() {
            return this.order.products.reduce((a, b) => { return a + (b.price || 0) }, 0)
        }
    },
    methods: {
        markAsShipped() {
            this.$store.dispatch('markOrderAsShipped', this.order.id)
        },
        markAsDelivered() {
            this.$store.dispatch('markOrderAsDelivered', this.order.id)
        }
    }
}
</script>
