<template>
    <form class="product-editor" @submit.prevent="submit">
        <h3>{{ isNewProduct ? 'Nuevo producto' : 'Editar producto' }}</h3>
        <div class="form-group my-3">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="highlighted" v-model="product.highlighted">
                <label class="custom-control-label" for="highlighted" :class="{ 'text-primary' : product.highlighted }">{{ product.highlighted ? 'Destacado' : 'No destacado' }}</label>
            </div>
        </div>
        <div class="form-group my-3">
            <label for="name">Nombre <span class="text-danger" aria-hidden="true" title="Campo requerido">*</span></label>
            <input type="text" name="product.name" class="form-control" v-model="product.name"/>
        </div>
        <div class="form-group my-3">
            <label for="type">Tipo <span class="text-danger" aria-hidden="true" title="Campo requerido">*</span></label>
            <category-picker :options="categories" v-model="product.category_id"/>
        </div>
        <div class="form-group my-3">
            <label for="price">Precio <span class="text-danger" aria-hidden="true" title="Campo requerido">*</span></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
                <input lang="es" type="number" min="0" name="product.price" step="0.1" class="form-control" v-model.number="product.price"/>
            </div>
        </div>
        <div class="form-group my-3">
            <div class="row">
                <div class="col-md-6">
                    <label for="volume">Volumen <span class="text-danger" aria-hidden="true" title="Campo requerido">*</span></label>
                    <div class="input-group">
                        <input lang="es" type="number" min="1" name="product.volume" class="form-control" v-model.number="product.volume"/>
                        <select name="product.volume_units" class="form-control" v-model="product.volume_units">
                            <option value="unidades">Unidades</option>
                            <option value="ml">Mililitros</option>
                            <option value="l">Litros</option>
                            <option value="gr">Gramos</option>
                            <option value="kg">Kilos</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="abv">Volumen alcohólico <span class="text-danger" aria-hidden="true" title="Campo requerido">*</span></label>
                    <div class="input-group">
                        <input lang="es" type="number" min="0" step="0.1" max="100" name="product.abv" class="form-control" v-model.number="product.abv"/>
                        <div class="input-group-append"> <span class="input-group-text">%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="from-group my-3">
            <label for="description">Descripción <span class="text-danger" aria-hidden="true" title="Campo requerido">*</span></label>
            <textarea name="product.description" class="form-control" v-model="product.description"></textarea>
        </div>
        <div class="form-group my-3">
            <label for="image">Imagen</label>
            <div class="row">
                <div class="col-8">
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" accept="image/*" name="product.image" class="custom-file-input" @change="changeProductImage"/>
                            <label class="custom-file-label" for="image">Elegir imagen</label>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <img :src="product.image_url" alt="Vista previa" class="img-fluid" style="max-height: 6em">
                </div>
            </div>
        </div>
        <div class="form-group my-3">
            <label for="flavor">Sabor</label>
            <array-input class="mb-3" :options-model="productFlavors" expand-string="Otro" expandable v-model="product.flavor"></array-input>
        </div>
        <div class="form-group my-3">
            <label for="ideal_for">Ideal para</label>
            <array-input class="mb-3" :options-model="productIdeals" expand-string="Otro" expandable v-model="product.ideal_for"></array-input>
        </div>
        <div class="form-group my-3">
            <label for="pairing">Se lleva bien con</label>
            <array-input class="mb-3" :options-model="productPairings" expand-string="Otro" expandable v-model="product.pairing"></array-input>
        </div>
        <button class="btn btn-block mt-3" :class="loading ? 'btn-secondary' : 'btn-outline-primary'" :disabled="loading">
            <i class="icon icon--loader" v-if="loading"><span class="sr-only">Cargando</span></i>
            <span v-else>Guardar</span>
        </button>
    </form>
</template>

<script>
import { mapGetters } from 'vuex'
import ArrayInput from '../ArrayInput.vue'
import CategoryPicker from './CategoryPicker.vue'

const emptyProduct = {
    name: '',
    description: '',
    type: '',
    image: '',
    image_url: '',
    volume: 0,
    volume_units: 'ml',
    category_id: null,
    price: 0,
    abv: 0,
    flavor: [],
    ideal_for: [],
    pairing: [],
    highlighted: false
}

export default {
    data() {
        return {
            isNewProduct: false,
            product: _.cloneDeep(emptyProduct),
            newType: '',
            newFlavor: '',
            newIdeal: '',
            newPairing: '',
        }
    },
    props: ['productModel', 'loading'],
    components: { ArrayInput, CategoryPicker, },
    computed: {
        ...mapGetters({
            categories: 'getCategories',
            productTypes: 'getProductTypes',
            productFlavors: 'getProductFlavors',
            productIdeals: 'getProductIdeals',
            productPairings: 'getProductPairings',
        }),
    },
    methods: {
        submit() {
            if (this.isNewProduct)
                this.$emit('newProductSubmitted', this.product)
            else
                this.$emit('productEdited', this.product)
        },
        changeProductImage(event) {
            // reactivity caveat, apparently
            this.$set(this.product, 'image', event.target.files[0])
        }
    },
    watch: {
        productModel(val) {
            if (null == val) {
                this.isNewProduct = true
                Object.assign(this.product, emptyProduct)
            } else {
                this.isNewProduct = false
                Object.assign(this.product, val)
            }
        },
        'product.image'() {
            if (!this.product.image)
                return
            let reader = new FileReader()
            let t = this

            reader.onload = () => {
                t.product.image_url = reader.result
            }

            reader.readAsDataURL(this.product.image)
        }
    }
}
</script>
