<template>
    <div class="product-picker">
        <input class="form-control" type="text" name="query" v-model="search.query" placeholder="Buscar producto...">
        <div class="row mt-3 suggestions">
            <div class="col-4" v-for="product in searchResults">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-truncate">{{ product.name }}</h5>
                        <div class="card-content">
                            ${{ product.price }}
                        </div>
                    </div>
                    <div class="card-footer border-0">
                        <button type="button" class="btn btn-primary" @click="addToValue(product)">&plus;</button>
                    </div>
                </div>
            </div>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center" v-for="item, idx in selectedProducts">
                {{ item.name }}
                <span style="cursor: pointer" class="badge badge-danger" @click="removeFromValue(idx)">&times;</span>
            </li>
        </ul>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'

const _ = require('lodash')

function searchProducts(searchQuery) {
    let search = {
        'query': searchQuery,
        'type': '',
        'order': 'slug,asc',
        'resultsPerPage': 5
    }

    this.$store.dispatch('searchProducts', search)
}

export default {
    data() {
        return {
            search: {
                query: '',
            }
        }
    },
    computed: {
        searchResults() {
            let results = this.$store.getters.getProductSearchResults

            results = results.filter((r) => {
                return _.findIndex(this.selectedProducts, {'slug': r.slug}) == -1
            })

            return results
        },
        selectedProducts() {
            if (this.$attrs.value)
                return this.$attrs.value
            return []
        }
    },
    watch: {
        'search.query': _.debounce(searchProducts, 1000),
        selectedProducts() {
            this.$emit('input', this.$attrs.value)
        }
    },
    methods: {
        addToValue(product) {
            this.selectedProducts.push(product)
        },
        removeFromValue(idx) {
            this.selectedProducts.splice(idx, 1)
        }
    }
}
</script>
