<template>
    <div class="card recipe-preview bg-light">
        <object class="card-image-top mx-auto d-block mb-5" :data="recipe.image_url" type="image/jpg" style="max-height: 11em">
            <img src="../../../img/unknown_recipe.png" class="card-image-top mx-auto d-block mb-5" style="max-height: 11em">
        </object>
        <div class="card-body">
            <h5 class="card-title">{{ recipe.name }}</h5>
            <p class="text-truncate">{{ recipe.description }}</p>
        </div>
        <div class="card-footer text-right border-0">
            <button class="btn btn-outline-danger" @click="requestRecipeDeletion">Eliminar</button>
            <button class="btn btn-outline-dark" @click="requestRecipeEditor">Editar</button>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {}
    },
    props: ['recipe'],
    methods: {
        requestRecipeDeletion() {
            this.$emit("recipeDeletionRequested", this.recipe)
        },
        requestRecipeEditor() {
            this.$emit("recipeEditorRequested", this.recipe)
        }
    }
}
</script>
