<template>
    <form class="recipe-editor" @submit.prevent="submit">
        <h3>{{ isNewRecipe ? 'Nueva receta' : 'Editar receta' }}</h3>
        <label for="name">Nombre</label>
        <input type="text" name="name" class="form-control" v-model="recipe.name" placeholder="Nombre de la receta"/>
        <label for="description">Descripción</label>
        <textarea name="description" class="form-control" v-model="recipe.description" placeholder="Una pequeña descripción sobre el producto final"></textarea>
        <label for="image">Imagen</label>
        <div class="input-group">
            <div class="custom-file">
                <input type="file" accept="image/*" name="image" class="custom-file-input" @change="changeRecipeImage"/>
                <label class="custom-file-label" for="image">Elegir imagen</label>
            </div>
        </div>
        <object :data="imageUrl" class="img-fluid text-center mx-auto d-block mt-3" style="max-height: 11em">
            <img src="../../../img/unknown_recipe.png" style="max-height: inherit">
        </object>
        <label for="ingredients">Ingredientes</label>
        <array-input v-model="recipe.ingredients" display="block" placeholder="Nombre y cantidad del ingrediente"></array-input>
        <div class="p-2 my-3">
            <label for="products">Productos sugeridos como ingredientes</label>
            <product-picker v-model="recipe.products"></product-picker>
        </div>
        <label for="steps">Pasos</label>
        <textarea v-model="recipe.steps" class="form-control" placeholder="Describa aquí los pasos..."></textarea>
        <button class="btn btn-block mt-3" :class="loading ? 'btn-secondary' : 'btn-outline-primary'" :disabled="loading" type="submit">
            <i class="icon icon--loader" v-if="loading"><span class="sr-only">Cargando</span></i>
            <span v-else>Guardar</span>
        </button>
    </form>
</template>

<script>
import { mapGetters } from 'vuex'

import ArrayInput from '../ArrayInput'
import ProductPicker from './ProductPicker'

const emptyRecipe = {
    name: '',
    description: '',
    image: '',
    ingredients: [],
    products: [],
    steps: ''
}

export default {
    data() {
        return {
            isNewRecipe: false,
            imageUrl: '',
            recipe: emptyRecipe,
        }
    },
    props: ['recipeModel', 'loading'],
    components: { ArrayInput, ProductPicker },
    methods: {
        submit() {
            let r = _.cloneDeep(this.recipe)
            r.products = r.products.map((p) => { return p.slug })

            if (this.isNewRecipe)
                this.$emit('newRecipeSubmitted', r)
            else
                this.$emit('recipeEdited', r)
        },
        changeRecipeImage(event) {
            // reactivity caveat, apparently
            this.$set(this.recipe, 'image', event.target.files[0])
        }
    },
    watch: {
        recipeModel(val) {
            if (null == val) {
                this.isNewRecipe = true
                this.recipe = emptyRecipe
            } else {
                this.recipe = _.cloneDeep(val)
                this.imageUrl = '/storage/recipes/' + this.recipe.image_path
            }
        },
        'recipe.image'() {
            if (!this.recipe.image)
                return
            let reader = new FileReader()
            let t = this

            reader.onload = () => {
                t.imageUrl = reader.result
            }

            reader.readAsDataURL(this.recipe.image)
        }
    }
}
</script>
