<template>
    <form @submit.prevent="submit">
        <h5>{{ cta }}</h5>
        <label for="store.name">Nombre de la sucursal</label>
        <input type="text" name="store.name" v-model="store.name" class="form-control">
        <label for="store.address">Dirección de la sucursal</label>
        <input type="text" name="store.address" v-model="store.address" class="form-control">
        <button class="btn btn-success mt-3" type="submit">{{ cta }}</button>
    </form>
</template>

<script>
const emptyStore = {
    name: "",
    address: "",
}

export default {
    data() {
        return {
            store: _.cloneDeep(emptyStore),
        }
    },
    props: [ 'storeModel' ],
    computed: {
        cta() {
            return this.isNewStore ? 'Insertar sucursal' : 'Editar sucursal'
        },
        isNewStore() {
            return 'undefined' == typeof this.store.id
        }
    },
    watch: {
        storeModel(val) {
            if (val)
                this.store = _.cloneDeep(val)
            else
                this.store = _.cloneDeep(emptyStore)
        }
    },
    methods: {
        submit() {
            this.$emit(this.isNewStore ? 'newStoreSubmitted' : 'storeEdited', this.store)
        }
    }
}
</script>
