<template>
    <div class="admin-dashboard">
        <section v-if="pendingOrders" class="admin-disclaimers">
            <div class="alert alert-warning">
                <h5>Hay {{ pendingOrders }} órdenes que necesitan su atención</h5>
                <p>Acceda al <a href="/admin/ordenes">pánel de gestión de órdenes</a> para encargarse de ellas.</p>
            </div>
        </section>
        <section class="admin-stats">
            <section class="stats-summary mb-5">
                <h4>
                    {{ loading ? 'Cargando' : 'Mostrando' }} estadísticas
                    <dropdown-select :options="intervalOptions" align="left" v-model="interval"></dropdown-select>
                </h4>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="mb-3 card">
                            <div class="card-body" v-if="loaded">
                                <h2>{{ stats.sales_count }}</h2>
                                <h5>Ventas</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6" v-if="stats.most_sold_category">
                        <div class="mb-3 card">
                            <div class="card-body" v-if="loaded">
                                <h2>{{ stats.most_sold_category.full_name }}</h2>
                                <h5>Categoría más vendida</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6" v-if="stats.most_sold_product">
                        <div class="mb-3 card star-product">
                            <div class="star-product__background" :style="{ 'background-image' : 'url(' + (stats.most_sold_product ? stats.most_sold_product.image_url : '') + ')' }"></div>
                            <div class="card-body" v-if="loaded">
                                <h2>{{ stats.most_sold_product.name }}</h2>
                                <h5>Producto más vendido</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="category-stats mb-5">
                <h5>Ventas por categoría</h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Categoría</th>
                            <th>Productos vendidos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="category_sales, index in stats.category_sales" :class="index ? '' : 'bg-primary text-light'">
                            <td>{{ Number(index) + 1 }}</td>
                            <td>{{ category_sales.full_name }}</td>
                            <td>{{ category_sales.sold }}</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section class="product-stats mb-5">
                <h5>Productos más vendidos</h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Destacado</th>
                            <th>Producto</th>
                            <th>Categoría</th>
                            <th>Vendidos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="sold_product, index in stats.product_sales" :class="index ? '' : 'bg-primary text-light'">
                            <td>{{ Number(index) + 1 }}</td>
                            <td>
                                <span class="badge badge-primary" v-if="sold_product.highlighted">Destacado</span>
                            </td>
                            <td>{{ sold_product.name }}</td>
                            <td>{{ sold_product.type }}</td>
                            <td>{{ sold_product.sold }}</td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </section>
    </div>
</template>

<script>
import DropdownSelect from '../../DropdownSelect'
export default {
    components: { DropdownSelect },
    data() {
        return {
            loading: true,
            loaded: false,
            interval: 'week',
            intervalOptions: [
                {
                    value: 'week',
                    label: 'de la última semana'
                },
                {
                    value: 'month',
                    label: 'del último mes'
                },
                {
                    value: 'quarter',
                    label: 'del último cuarto'
                },
                {
                    value: 'year',
                    label: 'del último año'
                },
                {
                    value: 'all_time',
                    label: 'de todo el tiempo'
                }
            ],
            cachedStats: {},
            stats: {}
        }
    },
    computed: {
        pendingOrders() {
            return this.$store.getters.countPendingOrders
        },
    },
    watch: {
        interval(value) {
            let instance = this
            if (instance.cachedStats.hasOwnProperty(value)) {
                instance.stats = instance.cachedStats[value]
            } else {
                instance.loading = true
                instance.loaded = false
                instance.$store.dispatch('fetchStats', { interval: instance.interval} ).then(() => {
                    instance.loading = false
                    instance.loaded = true
                    instance.stats = instance.$store.getters.getStats
                    instance.cachedStats[value] = instance.stats
                })
            }
        }
    },
    mounted() {
        let instance = this
        instance.$store.dispatch('fetchStats', { interval: instance.interval }).then(() => {
            instance.loaded = true
            instance.loading = false
            instance.stats = instance.$store.getters.getStats
        })
    }
}
</script>

<style lang="scss">
.admin-dashboard {
    .star-product {
        position: relative;
        overflow: hidden;
    }

    .star-product__background {
        position: absolute;
        width: 100%;
        height: 200%;
        top: -60%;
        left: 0;
        opacity: 0.2;
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat;
        background-blend-mode: lighten;
        transform: rotate(15deg);
        pointer-events: none;
    }

    .dropdown-select .select__options {
        background-color: white !important;
    }
}
</style>
