<template>
    <div class="media-dashboard">
        <h3 class="mt-3 mb-1">Medios promocionales</h3>
        <small class="text-muted">Medios que se muestran en carrusel en la página principal</small>

        <div class="row mt-3">
            <div class="col-md-6">
                <button type="button" class="btn btn-block btn-outline-primary" @click="openFileInput" :disabled="uploadingFiles">Seleccionar archivos</button>
                <input type="file" accept="image/*" id="homepageSliderMediaInput" hidden @change="showHSPreviews" multiple/>

                <small class="text-muted mt-2" v-if="newMedia.length > 0">{{ newMedia.length }} archivo(s) seleccionado(s)</small>
            </div>
            <div class="col-md-6" v-if="newMedia.length > 0">
                <div class="row">
                    <div class="col-4" v-for="preview in newMedia">
                        <img :src="preview" class="img-fluid"/>
                    </div>
                </div>
                <button type="button" class="btn btn-primary btn-block mt-2" @click="submitHomepageSliderMedia" :disabled="uploadingFiles">
                    <span v-if="uploadingFiles">Subiendo</span>
                    <span v-else>Subir</span>
                    archivos
                </button>
            </div>
        </div>

        <div class="row mt-4">
            <div v-for="medium in homepageSliderMedia" class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-header text-right">
                        <button class="btn btn-outline-danger btn-sm" type="button" @click="confirmDeleteMedium(medium)">Eliminar</button>
                    </div>
                    <img class="card-img-top" :src="medium.thumbnail_url" alt="Vista previa del medio"/>
                    <div class="card-body">
                        <label>Enlace al que lleva <span class="text-muted">(opcional)</span></label>
                        <input type="url" v-model="medium.description" class="form-control" placeholder="https://ejemplo.com"/>
                        <div v-if="mediumChangedLink(medium)" class="row mt-2 no-gutters">
                            <div class="col-md-6">
                                <button class="btn btn-block btn-outline-primary" @click="updateMediumLink(medium)">Actualizar</button>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-block btn-outline-secondary" @click="resetMediumLink(medium)">Reestablecer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data: () => ({
        mediumLinks: {},
        homepageSliderMedia: [],
        loadingMedia: false,
        uploadingFiles: false,
        newMedia: [],
    }),
    created() {
        const t = this
        this.loadingMedia = true

        // fetch homepage slider media
        axios.get('/media?role=hs').then(response => {
            t.homepageSliderMedia = response.data
            t.homepageSliderMedia.forEach(medium => {
                t.mediumLinks[medium.id] = medium.description;
            })
        }).finally(() => {
            t.loadingMedia = false
        })
    },
    methods: {
        mediumChangedLink(medium) {
            return this.mediumLinks[medium.id] != medium.description
        },
        submitHomepageSliderMedia() {
            const data = new FormData()
            const homepageSliderMediaInput = document.getElementById('homepageSliderMediaInput')

            this.uploadingFiles = true

            const t = this

            data.append('role', 'hs');
            Array.from(homepageSliderMediaInput.files).forEach((file) => data.append('files[]', file))

            axios.post('/media', data).then(response => {
                t.homepageSliderMedia = [
                    ...t.homepageSliderMedia,
                    response.data
                ]
                t.newMedia = []
                console.log(t.homepageSliderMedia)
            }).finally(() => {
                t.uploadingFiles = false
            })
        },
        showHSPreviews(ev) {
            this.newMedia = []
            const t = this;

            Array.from(ev.target.files).forEach(f => {
                let reader = new FileReader()
                reader.onload = () => {
                    t.newMedia.push(reader.result)
                }
                reader.readAsDataURL(f)
            })
        },
        openFileInput: () => {
            const homepageSliderMediaInput = document.getElementById('homepageSliderMediaInput')
            homepageSliderMediaInput.click()
        },
        confirmDeleteMedium(medium) {
            if (confirm('¿Desea eliminar esta imagen?'))
                this.deleteMedium(medium)
        },
        deleteMedium(medium)  {
            const t = this

            axios.delete(`/media/${medium.id}`).then(() => {
                t.homepageSliderMedia = t.homepageSliderMedia.filter(m => m.id !== medium.id )
                t.mediumLinks[medium.id] = null;
            })
        },
        updateMediumLink(medium) {
            const data = new FormData()
            const t = this

            data.append('_method', 'PATCH')
            data.append('description', medium.description)

            axios.post(`/media/${medium.id}`, data).then(() => {
                const mediumLinksCopy = {}
                Object.assign(mediumLinksCopy, t.mediumLinks)
                mediumLinksCopy[medium.id] = medium.description
                t.mediumLinks = mediumLinksCopy
            })
        },
        resetMediumLink(medium) {
            this.homepageSliderMedia.some((m, idx) => {
                if (m.id === medium.id) {
                    this.homepageSliderMedia[idx].description = this.mediumLinks[m.id]
                    return true
                }
                return false
            })
        }
    }
}
</script>
