<template>
    <div class="order-dashboard">
        <section class="pending-shipment-orders mt-3" v-if="pendingShipmentOrders.length">
            <h3>Órdenes pendientes de envío <small class="text-muted">({{ pendingShipmentOrders.length }})</small></h3>
            <order-info v-for="order in pendingShipmentOrders" :order="order" :key="order.id"></order-info>
        </section>
        <section class="shipped-orders mt-3" v-if="conflictedOrders.length">
            <h3>Órdenes con conflictos <small class="text-muted">({{ conflictedOrders.length }})</small></h3>
            <order-info v-for="order in conflictedOrders" :order="order" :key="order.id"></order-info>
        </section>
        <section class="shipped-orders mt-3" v-if="shippedOrders.length">
            <h3>Órdenes pendientes de entrega <small class="text-muted">({{ shippedOrders.length }})</small></h3>
            <order-info v-for="order in shippedOrders" :order="order" :key="order.id"></order-info>
        </section>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import OrderInfo from '../OrderInfo'

export default {
    components: { OrderInfo },
    computed: {
        ...mapGetters({
            pendingShipmentOrders: 'getPendingShipmentOrders',
            shippedOrders: 'getShippedOrders',
            conflictedOrders: 'getConflictedOrders',
        })
    }
}
</script>
