<template>
    <div class="product-dashboard">
        <product-search class="mb-4" @submit="searchProducts"></product-search>
        <button class="mb-4 btn btn-block btn-outline-primary" @click="openProductEditor(null)">Agregar producto</button>
        <table class="table">
            <thead class="bg-light">
                <tr>
                    <th>Producto</th>
                    <th>Categoría</th>
                    <th>Precio</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="product in products">
                    <td>
                        <b>{{ product.name }}</b>
                        <span>{{ product.volume }}{{ product.volume_units }}</span>
                    </td>
                    <td><span class="align-baseline">{{ product.type }}</span></td>
                    <td>{{ product.price | currency }}</td>
                    <td class="d-flex">
                        <button class="btn btn-outline-danger w-50" @click="confirmDeleteProduct(product)">&times;<span class="sr-only">Eliminar</span></button>
                        <button class="btn btn-outline-primary w-100" @click="openProductEditor(product)">Editar</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="modal fade" id="productEditorModal" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <product-editor :loading="loading" :product-model="selectedProduct" @newProductSubmitted="insertProduct" @productEdited="editProduct"></product-editor>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

import ProductSearch from '../../ProductSearch.vue'
import ProductEditor from '../ProductEditor.vue'

export default {
    data() {
        return {
            loading: false,
            selectedProduct: undefined
        }
    },
    components: { ProductSearch, ProductEditor },
    computed: {
        ...mapGetters({
            products: 'getProductSearchResults',
        })
    },
    methods: {
        searchProducts(search) {
            this.$store.dispatch('searchProducts', search)
        },
        insertProduct(product) {
            let t = this

            t.loading = true
            t.$store.dispatch('insertProduct', product).then(() => {
                t.loading = false
                $('#productEditorModal').modal('hide')
                t.selectedProduct = undefined
            })
        },
        editProduct(product) {
            let t = this

            t.loading = true
            t.$store.dispatch('editProduct', { slug: t.selectedProduct.slug, product: product }).then(() => {
                t.loading = false
                $('#productEditorModal').modal('hide')
                t.selectedProduct = undefined
            })
        },
        confirmDeleteProduct(product) {
            if (confirm("¿Verdaderamente desea eliminar este producto?"))
                this.deleteProduct(product.id);
        },
        deleteProduct(productId) {
            let t = this
            t.loading = true
            t.$store.dispatch('deleteProduct', productId).then(() => {
                t.loading = false
            })
        },
        openProductEditor(product) {
            this.selectedProduct = product
            $('#productEditorModal').modal('show')
        },
    },
    created() {
        this.$store.dispatch('fetchProducts')
        this.$store.dispatch('fetchCategories')
    }
}
</script>
