<template>
    <div class="recipe-dashboard">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
                <button class="btn btn-block btn-outline-primary" @click="openRecipeEditor(null)">Nueva receta</button>
            </div>
            <div class="col-lg-4 col-md-6 mb-3" v-for="recipe in recipes">
                <recipe-preview :recipe="recipe" class="h-100" @recipeEditorRequested="openRecipeEditor(recipe)" @recipeDeletionRequested="deleteRecipe"></recipe-preview>
            </div>
        </div>
        <div class="modal fade" id="recipeEditorModal" tabindex="-1">
            <div class="modal-lg modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <recipe-editor :loading="loading" :recipe-model="selectedRecipe" @newRecipeSubmitted="insertRecipe" @recipeEdited="editRecipe"></recipe-editor>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

import RecipePreview from '../RecipePreview.vue'
import RecipeEditor from '../RecipeEditor.vue'

export default {
    data() {
        return {
            loading: false,
            selectedRecipe: undefined
        }
    },
    components: { RecipePreview, RecipeEditor },
    computed: {
        ...mapGetters({
            recipes: 'getRecipes',
        })
    },
    methods: {
        insertRecipe(recipe) {
            let t = this

            t.loading = true
            t.$store.dispatch('insertRecipe', recipe).then(() => {
                t.loading = false
                $('#recipeEditorModal').modal('hide')
                t.selectedRecipe = undefined
            })
        },
        editRecipe(recipe) {
            let t = this

            t.loading = true
            t.$store.dispatch('editRecipe', { slug: t.selectedRecipe.slug, recipe: recipe }).then(() => {
                t.loading = false
                $('#recipeEditorModal').modal('hide')
                t.selectedRecipe = undefined
            })
        },
        deleteRecipe(recipe) {
            let t = this
            t.loading = true
            t.$store.dispatch('deleteRecipe', { slug: recipe.slug }).then(() => {
                t.loading = false
            })
        },
        openRecipeEditor(recipe) {
            this.selectedRecipe = recipe
            $('#recipeEditorModal').modal('show')
        },
    },
    created() {
        this.$store.dispatch('fetchRecipes')
    }
}
</script>
