<template>
    <div class="store-dashboard">
        <button class="btn btn-outline-primary mt-3" data-toggle="modal" data-target="#storeEditorModal" @click="selectedStore = null">Agregar sucursal</button>
        <store-map :stores="stores" class="mt-3"></store-map>
        <ul class="list-group d-block mt-3" v-if="stores.length">
            <li class="list-group-item" v-for="store in stores">
                <div class="row">
                    <div class="col-sm-6 col-md-4 align-middle">
                        <h5>{{ store.name}}</h5>
                    </div>
                    <div class="col-sm-6 col-md-4 align-middle">
                        {{ store.address}}
                    </div>
                    <div class="col-md-4 text-right">
                        <button class="btn btn-outline-danger" @click="deleteStore(store)">&times;<span class="sr-only">Eliminar</span></button>
                        <button class="btn btn-outline-dark" @click="selectedStore = store" data-toggle="modal" data-target="#storeEditorModal">Editar</button>
                    </div>
                </div>
            </li>
        </ul>
        <div class="modal fade" id="storeEditorModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <store-editor :store-model="selectedStore" @newStoreSubmitted="insertStore" @storeEdited="editStore"></store-editor>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import StoreMap from '../../StoreMap'
import StoreEditor from '../StoreEditor'

export default {
    data() {
        return {
            selectedStore: {}
        }
    },
    components: { StoreMap, StoreEditor },
    computed: {
        ...mapGetters({
            stores: 'getStores'
        })
    },
    methods: {
        insertStore(store) {
            this.$store.dispatch('insertStore', store).then((r) => {
                if (!r.isAxiosError)
                    $('#storeEditorModal').modal('hide')
            })
        },
        editStore(store) {
            this.$store.dispatch('editStore', { 'store': store, 'id': store.id }).then((r) => {
                if (!r.isAxiosError)
                    $('#storeEditorModal').modal('hide')
            })
        },
        deleteStore(store) {
            if (confirm("¿Verdaderamente desea eliminar esta sucursal?"))
                this.$store.dispatch('deleteStore', store)
        }
    },
    created() {
        this.$store.dispatch('fetchStores');
    }
}
</script>
