<template>
    <section id="cart" class="background-dots">
        <div class="container mt-5">
            <h1>Mi carrito</h1>
            <div class="row" v-if="cart.length">
                <div class="col-lg-4 col-sm-6" v-for="item in cart">
                    <cart-item :item="item"></cart-item>
                </div>
            </div>
            <div v-else>
                <p class="text-muted">Tu carrito está vacío. ¡Deberías llenarlo para completar una compra!</p>
                <a href="/productos">Ver productos</a>
            </div>
        </div>
        <section id="subtotal" v-if="cart.length">
            <div class="container">
                <div class="card bg-secondary text-light mb-3">
                    <div class="card-body">
                        <div class="card-content text-center">
                            <h4 class="my-0">Subtotal: {{ subTotal | currency }}</h4>
                        </div>
                    </div>
                </div>
                <button class="btn btn-lg btn-primary btn-block" @click="submitCart">
                    Continuar compra
                </button>
            </div>
        </section>
        <div class="container" v-if="cart.length">
            <span class="currency-disclaimer">Todos los precios se muestran en pesos mexicanos (MXN).</span>
        </div>
    </section>
</template>

<script>
import CartItem from '../CartItem'

export default {
    data() {
        return { }
    },
    components: { CartItem },
    computed: {
        cart() { return this.$store.getters.getCart },
        subTotal() {
            let s = 0
            this.cart.map(function (i) { s += (i.item.price * i.quantity) })
            return s
        }
    },
    methods: {
        submitCart() {
            window.location = '/orden/preparar'
        }
    }
}
</script>
