<template>
    <div id="homepage">
        <section id="homepageHero" class="homepage__hero bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-1 pt-5">
                        <img src="/storage/marketing/logo-transparent.png" height="80" class="mb-3">
                        <h1 class="hero__heading">Llevamos la fiesta a tus puertas.</h1>
                        <a class="btn btn-primary btn-xl btn-shine my-5 text-bold" href="/productos">Llena tu carrito</a>
                    </div>
                    <div class="col-md-4 hero__image"></div>
                </div>
            </div>
        </section>
        <section id="slider" v-if="sliderMedia.length > 0">
            <slick :options="slickOptions">
                <template v-for="medium in sliderMedia">
                    <a v-if="medium.description" class="d-block w-100" :href="medium.description" :target="medium.description.startsWith('http') ? '_blank' : ''">
                        <img class="w-100" :src="medium.url"/>
                    </a>
                    <img class="w-100" :src="medium.url" v-else/>
                </template>
            </slick>
        </section>
        <section id="offers" class="py-5" v-if="offers.length">
            <div class="container">
                <h2>¡Aprovecha estas ofertas!</h2>
                <div class="row">
                    <div class="col-md-6" v-for="offer in offers">
                        <div class="card offer mb-4">
                            <div class="card-body">
                                <div class="row no-gutter">
                                    <div class="col-7">
                                        <h3 class="offer__title">{{ offer.title }}</h3>
                                        <span v-if="offer.condition_text">{{ offer.condition_text }}</span>
                                        <button class="btn btn-outline-primary" v-if="offer.has_product">Añadir a carrito</button>
                                    </div>
                                    <div class="col-5">
                                        <div class="badge badge-lg badge-primary offer__valid-on">{{ offer.valid_on }}</div>
                                        <img :src="'storage/offers/' + offer.image_path" alt="Ilustración de la oferta" class="card-img">
                                    </div>
                                </div><!-- .row .no-gutter -->
                            </div> <!-- .card-body -->
                        </div> <!-- .card -->
                    </div> <!-- .col -->
                </div>
                <div class="text-center">
                    <div class="mt-5 btn btn-secondary btn-md">Ver más ofertas</div>
                </div>
            </div>
        </section>
        <section id="highlightedProducts" class="bg-dark text-light py-5">
            <div class="container">
                <h2>Lo mejor en <dropdown-select :options="liquorOptions" align="left" v-model="selectedCategory"></dropdown-select></h2>
                <simplebar style="overflow-y: hidden">
                    <transition-group tag="div" class="d-flex pb-3" name="fade-up">
                        <div class="product-card-container col-9 col-md-7 col-xl-5" v-for="product, index in bestLiquors" :class="{'pl-0': !index}" :key="product.id">
                            <product :product="product"></product>
                        </div>
                    </transition-group>
                </simplebar>
                <span class="currency-disclaimer">Todos los precios se muestran en pesos mexicanos (MXN).</span>
            </div>
        </section>
        <section id="drinkAdvisor" class="my-5">
            <div class="container">
                <h2>¿No te decides? Permítenos recomendarte</h2>
                <drink-advisor :products="products"></drink-advisor>
                <span class="currency-disclaimer">Todos los precios se muestran en pesos mexicanos (MXN).</span>
            </div>
        </section>
        <section id="shops" class="py-5 position-relative">
            <div class="container">
                <h2>O compra en alguna de nuestras sucursales</h2>
                <store-map :stores="stores" style="height: 30em"></store-map>
            </div>
            <div class="blob"></div>
        </section>
        <section id="disclaimer" class="bg-primary py-5 text-light">
            <div class="container text-center">
                <h1>Evita el exceso</h1>
            </div>
        </section>
    </div>
</template>

<script>
import DrinkAdvisor from '../drink_advisor/DrinkAdvisor.vue'
import DropdownSelect from '../DropdownSelect.vue'
import Product from '../Product.vue'
import StoreMap from '../StoreMap.vue'
import Slick from 'vue-slick'
import '../../../../node_modules/slick-carousel/slick/slick.css';

export default {
    data() {
        return {
            offers: [],
            selectedCategory: null,
            sliderMedia: [],
            slickOptions: {
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: false,
                autoplay: true,
                autoplaySpeed: 4000,
            }
        }
    },
    components: { DrinkAdvisor, DropdownSelect, Product, StoreMap, Slick },
    computed: {
        products() {
            return this.$store.getters.getProducts
        },
        stores() {
            return this.$store.getters.getStores
        },
        liquorOptions() {
            return this.products.map((product) => {
                return {
                    value: product.category_id,
                    label: product.type.toLowerCase()
                }
            })
        },
        bestLiquors() {
            const c = this.selectedCategory
            return this.products.filter((p) => {
                return p.category_id == c
            })
        }
    },
    watch: {
        liquorOptions() {
            this.selectedCategory = this.liquorOptions[0].value
        }
    },
    created() {
        const t = this
        axios.get('/media?role=hs').then(response => { t.sliderMedia = response.data })

        this.$store.dispatch('fetchStores')
        this.$store.dispatch('fetchHighlightedProducts', {
            params: ['ideal_for', 'pairing']
        })
    }
}
</script>
