<template>
    <div id="productShowPage">
        <section id="product" class="py-5">
            <product-show :product="product"></product-show>
            <div class="container">
                <span class="currency-disclaimer">Todos los precios se muestran en pesos mexicanos (MXN).</span>
            </div>
        </section>
        <section id="recipes" class="py-5 bg-dark" v-show="recipes.length">
            <div class="container">
                <h4 class="text-light">Puedes preparar</h4>
                <product-recipes :product-id="product.id" @recipesFetched="updateRecipes"></product-recipes>
            </div>
        </section>
        <section id="related" class="py-5 bg-light">
            <div class="container">
                <h4>También te pueden gustar</h4>
                <related-products :related-to="product.id"></related-products>
            </div>
        </section>
    </div>
</template>

<script>
import RelatedProducts from '../RelatedProducts.vue'
import ProductShow from '../ProductShow.vue'
import ProductRecipes from '../ProductRecipes.vue'

export default {
    data() {
        return {
            recipes: []
        }
    },
    props: ['product'],
    components: { ProductShow, RelatedProducts, ProductRecipes },
    methods: {
        updateRecipes(val) {
            this.recipes = val
        }
    }
}
</script>
