<template>
    <div id="productIndex">
        <section id="allProducts">
            <div class="container">
                <product-search class="mb-4" @submit="searchProducts"></product-search>
                <div class="row my-4" v-if="loading">
                    <div class="mb-4 col-xl-4 col-md-6"  v-for="product in 6">
                        <loading-product/>
                    </div>
                </div>
                <div class="row my-4" v-else-if="products.length">
                    <div class="mb-4 col-xl-4 col-md-6"  v-for="product in products">
                        <product :product="product"></product>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <span class="currency-disclaimer">Todos los precios se muestran en pesos mexicanos (MXN).</span>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'

import LoadingProduct from '../LoadingProduct'
import Product from '../Product'
import ProductSearch from '../ProductSearch'

export default {
    data() {
        return {
            loading: true,
            something: []
        }
    },
    components: { Product, ProductSearch, LoadingProduct, },
    methods: {
        searchProducts(search) {
            let t = this
            this.loading = true
            this.$store.dispatch('searchProducts', search).then(() => {
                t.loading = false
            })
        },
    },
    created() {
        this.loading = true
        let t = this
        let search = {}

        this.$store.dispatch('fetchCategories')

        if (window.location.search) {
            let urlSearch = new URLSearchParams(window.location.search)
            // means there are search terms in the url
            if (urlSearch.has('c'))
                search.category_id = urlSearch.get('c')

            if (urlSearch.has('q'))
                search.query = urlSearch.get('q')

            if (urlSearch.has('s'))
                search.order = urlSearch.get('s')

            this.$store.dispatch('searchProducts', search).then(() => {
                t.loading = false
            })
        } else {
            this.$store.dispatch('fetchProducts').then(() => {
                t.loading = false
            })
        }

    },
    computed: {
        ...mapGetters({
            products: 'getProductSearchResults',
            paginator: 'getProductSearchResultsPaginator',
        })
    },
}
</script>
