<template>
    <article>
        <h3><slot name="title"></slot></h3>
        <figure>
            <img :src="recipe.image_url" :alt="recipe.name" class="img-fluid">
            <figcaption class="font-italic"><slot name="description"></slot></figcaption>
        </figure>
        <div class="content">
            <div class="ingredients">
                <h4>Necesitarás</h4>
                <ul>
                    <li v-for="ingredient in recipe.ingredients">{{ ingredient }}</li>
                </ul>
                <template v-if="recipe.products.length">
                    <h5>Añade los ingredientes a tu carrito</h5>
                    <simplebar>
                        <div class="row">
                            <div class="col-lg-6" v-for="product in recipe.products">
                                <product :product="product"></product>
                            </div>
                        </div>
                    </simplebar>
                </template>
            </div>
            <h4>Procedimiento</h4>
            <p class="steps text-wrapped"><slot name="steps"></slot></p>
            <div class="suggestions row">
                <div class="col-xl-3 col-lg-4 col-md-6" v-for="recipe in relatedRecipes">
                    <recipe-card :recipe="recipe"></recipe-card>
                </div>
            </div>
        </div>
    </article>
</template>

<script>
import Product from '../Product.vue'

export default {
    data() {
        return {
            relatedRecipes: [],
        }
    },
    components: { Product, },
    props: ['recipe'],
}
</script>
