// Body
$body-bg: #ececec;

// Typography
$font-family-sans-serif: 'HK Grotesk', sans-serif;
$font-size-base: 1.2rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$facebook-blue: #1778f2;

$dark: #313831;

$primary: #dd6510;
$secondary: $dark;
$tertiary: #e17a12;

$yiq-text-dark: $dark;

$border-radius: 0;
$border-radius-sm: 0;
$border-radius-lg: 0;
