// Font family
@import url('../fonts/HK Grotesk/style.css');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

::selection {
    background-color: transparentize($primary, 0.2);
    color: #FFF;
}

body {
    font-style: normal;
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

.btn-xl {
    padding: 0.6rem 1.6rem;
    font-size: 1.5rem;
    line-height: 1.5;
    border-radius: 0;
}

.btn-facebook {
    color: $yiq-text-light;
    background-color: $facebook-blue;
    &:hover, &:focus {
        color: $yiq-text-light;
        background-color: darken($facebook-blue, 10);
        box-shadow: none;
    }
    &:active {
        background-color: darken($facebook-blue, 20);
        box-shadow: transparentize($facebook-blue, 0.5) 0 0 0 3px;
    }
}

.btn-primary:hover {
    background-color: lighten(adjust-hue($primary, 5deg), 5%);
    border-color: lighten(adjust-hue($primary, 5deg), 5%);
}

.btn-shine {
    box-shadow: lighten(transparentize($primary, 0.2), 20%) 0 0.5rem 3rem -0.5rem;
    transition: all 300ms;
    border: none;
    &:hover {
        background-color: $tertiary;
        transform: translateY(-0.3rem);
        box-shadow: lighten(transparentize($primary, 0.1), 20%) 0 0.8rem 2rem -0.5rem;
    }
}

.bg-white {
    background-color: white;
}

.card {
    border: none;
}

.offer {
    .offer__valid-on {
        position: absolute;
        top: 0;
        right: 1.25em;
    }
    .offer__title {
        font-weight: 600;
    }
}

.badge-lg {
    padding: 0.7em 1em;
    font-size: 1em;
}

.badge-xl {
    padding: 1em 1.3em;
    font-size: 1.2em;
}

.cart-shortcut {
    font-size: 1.2em;
    transition-duration: 300ms;
    position: fixed;
    bottom: 20vh;
    left: 0;
    padding: 1em;
    padding-left: 2em;
    background-color: $primary;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    transform: translateX(-1em);
    border: none;
    color: $white;
    &:hover {
        color: $white;
        transform: translateX(0);
    }
}

@media (max-width: map-get($grid-breakpoints, 'md')) {
    .cart-shortcut {
        bottom: 0;
    }
}


.navigation {
    position: fixed;
    left: 0;
    top: 0;
    background-color: $primary;
    color: $white;
    transform: translateX(-100%);
    transition-duration: 300ms;
    z-index: 999999;
    height: 100%;
    &.visible {
        transform: translateX(0);
    }
    .nav-link {
        color: $white;
        padding: 2rem 4rem;
    }
    .link__icon {
        margin-right: 1em;
    }

    .nav-item.cart {
        position: relative;
    }
}

.navigation__links {
    display: block;
    height: 100vh;
    overflow-y: auto;
}

.category-nav-item {
    padding-left: 3.5em;
    .nav-link {
        padding-top: 0.6em;
        padding-bottom: 0.6em;
    }
}

.navigation-toggle {
    position: fixed;
    left: 100%;
    top: 0;
    border: none;
    border-radius: 50%;
    width: 2.7em;
    height: 2.7em;
    background-color: transparent;
    background-image: url('../img/icons/menu.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2em
}

.icon {
    width: 1.2em;
    height: 1.2em;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &.icon--home {
        background-image: url('../img/icons/home.svg');
    }
    &.icon--stores {
        background-image: url('../img/icons/stores.svg');
    }
    &.icon--products {
        background-image: url('../img/icons/products.svg');
    }
    &.icon--cart {
        background-image: url('../img/icons/cart.svg');
        .cart-contents {
            font-style: normal;
            display: block;
            font-size: 0.9rem;
            text-align: center;
            transform: translate(0.07rem, -0.3rem);
        }
    }
    &.icon--facebook {
        background-image: url('../img/icons/facebook-f.png');
        height: 1rem;
        width: 1rem;
    }
    &.icon--user {
        background-image: url('../img/icons/user.svg');
    }
    &.icon--logout {
        background-image: url('../img/icons/logout.svg');
    }
    &.icon--arrow-down {
        background-image: url('../img/icons/arrow-down.svg');
    }
    &.icon--arrow-up {
        background-image: url('../img/icons/arrow-up.svg');
    }
    &.icon--loader {
        background-image: url('../img/icons/loader.svg');
    }
}

.form-control {
    border: none;
    border-bottom: solid 2px $primary;
}

select {
    appearance: none;
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: $input-padding-x;
        height: 1em;
        width: 1em;
        background-image: url('../img/icons/arrow-down.svg');
        background-color: red;
        z-index: 999;
    }
    option {
        font-family: inherit;
    }
}

#cartShow {
    min-height: 95vh;
}

main {
    min-height: 100vh;
}

.background-dots {
    background-image: url('../img/blob_dots.svg');
    background-position: bottom left;
    background-size: contain;
    background-repeat: no-repeat;
}

.register-card,
.login-card {
    margin-top: 20%;
}

.currency-disclaimer {
    font-size: 0.6em;
    font-style: italic;
}

object {
    img {
        max-height: inherit;
    }
}

.flash__wrapper {
    position: fixed;
    top: 1rem;
    right: 1rem;
    .flash__message {
        max-width: 80vw;
        margin-bottom: 1rem;
        padding: 1rem;
        color: $yiq-text-light;
        transition-duration: 600ms;
        transform: translateX(0em);
        opacity: 1;

        &.flash-transition-enter, &.flash-transition-leave-to {
            transform: translateX(-4em);
            opacity: 0;
        }


        &.warning {
            background-color: $warning;
            color: $yiq-text-dark;
            .flash__message-content::before {
                background-image: url('../img/icons/warning.svg');
            }
        }
        &.danger {
            background-color: $danger;
            .flash__message-content::before {
                background-image: url('../img/icons/danger.svg');
            }
        }
        &.success {
            background-color: $success;
            .flash__message-content::before {
                background-image: url('../img/icons/check.svg');
            }
        }
        &.info {
            background-color: $info;
            .flash__message-content::before {
                background-image: url('../img/icons/info.svg');
            }
        }
        .flash__message-content {
            // space for icon
            &::before {
                content: '';
                height: 1rem;
                width: 1rem;
                display: inline-block;
                margin-right: 1rem;
                background-size: cover;
            }
            display: inline;
        }
        .flash__close-button {
            position: absolute;
            top: 1rem;
            right: 1rem;
            background: transparent;
            border: none;
            color: inherit;
            opacity: 0.8;
        }
    }
}

/* Vue transitions */
.product-card-container {
    transition: all 400ms;
}

.fade-up-enter, .fade-up-leave-to {
    opacity: 0;
    transform: translateY(1em);
}

.fade-up-leave-active {
    position: absolute;
}
