@import './_variables.scss';

.homepage__hero {
	background-image: url('../img/blob_dots.svg');
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: bottom left;
    background-attachment: fixed;
	.hero__heading {
		font-size: 3.6em;
		font-weight: bolder;
	}
	.hero__image {
		background-image: url('../img/servicio-a-domicilio.png');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: bottom center;
		height: inherit;
	}
}

.bg-dark {
	.simplebar-scrollbar::before {
		background-color: white;
	}
}

.blob {
	width: 100vw;
	min-height: 200vh;
	position: absolute;
	bottom: 0;
	right: 0;
	background-image: url('../img/blob.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: bottom right;
	z-index: -1;
}

@media (max-width: 768px) {
	.homepage__hero {
		text-align: center;
	}
	.hero__image {
		min-height: 320px;
	}
}
