main {
	background-image: url('../img/blob_dots.svg');
	background-position: bottom left;
	background-size: cover;
	background-repeat: no-repeat;
}

.product-show-price {
	position: absolute;
	bottom: 0;
	right: 0;
}
