<template>
    <div class="array-input">
        <div class="input-group">
            <!--  -->
            <template v-if="optionsModel !== null">
                <select class="form-control" v-model="selectedOption" v-if="!expandable || !expandingOptions">
                    <option v-for="option in options" v-if="selectedOptions.indexOf(option) == -1">{{ option }}</option>
                    <option v-if="expandable">{{ expandString }}</option>
                </select>
                <input v-if="expandable && expandingOptions" type="text" class="form-control" v-model.trim="newOption" placeholder="Especifique"/>
            </template>
            <input type="text" v-else v-model="newOption" class="form-control">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" @click="expandingOptions = false" v-if="expandingOptions">&times;</button>
                <button class="btn btn-primary" type="button" @click="addToValue" :disabled="selectedOption == null || (expandingOptions && !newOption)">+</button>
            </div>
        </div>
        <div class="values">
            <template v-if="display == 'inline'">
                <span class="mr-1" v-for="item, idx in $attrs.value">
                    <span class="badge badge-primary">{{ item }}</span><span style="cursor: pointer" class="badge badge-danger" @click="removeFromValue(idx)">&times;</span>
                </span>
            </template>
            <ul class="list-group list-group-flush" v-if="display == 'block'">
                <li class="list-group-item d-flex justify-content-between align-items-center" v-for="item, idx in $attrs.value">
                    {{ item }}
                    <span style="cursor: pointer" class="badge badge-danger" @click="removeFromValue(idx)">&times;</span>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            newOption: undefined,
            selectedOption: undefined,
            options: [],
            selectedOptions: [],
            expanding: false,
        }
    },
    props: {
        optionsModel: {
            type: Array,
            required: false,
            default: () => null
        },
        expandable: {
            type: Boolean,
            default: () => false
        },
        expandString: {
            type: String,
            default: () => ""
        },
        display: {
            type: String,
            default: "inline"
        }
    },
    methods: {
        addToValue() {
            if (this.expandingOptions) {
                if (!this.newOption)
                    return
                this.options.push(this.newOption)
                this.selectedOptions.push(this.newOption)
                this.newOption = undefined
            } else {
                if (this.selectedOption == this.expandString)
                    return
                this.selectedOptions.push(this.selectedOption)
            }

            this.selectedOption = undefined

            this.$emit('input', this.selectedOptions)
        },
        removeFromValue(idx) {
            this.selectedOptions.splice(idx, 1)
            this.$emit('input', this.selectedOptions)
        }
    },
    watch: {
        optionsModel(value) {
            this.options = _.clone(value)
        },
        '$attrs.value'(v) {
            this.selectedOptions = _.clone(v)
        }
    },
    computed: {
        expandingOptions: {
            set(value) {
                if (value === false)
                    this.selectedOption = undefined
                this.expanding = value
                return this.expanding
            },
            get() {
                if (this.expandable && this.selectedOption == this.expandString)
                    this.expanding = true
                else
                    this.expanding = false
                return this.expanding
            }
        }
    }
}
</script>
