<template>
    <div class="cart-item mb-5">
        <div class="card item-info">
            <div class="card-body">
                <button class="close" @click="removeFromCart">&times;</button>
                <div class="row">
                    <div class="col-10">
                        <h5 class="card-title my-0">{{ item.item.name }}</h5>
                        <p class="cart-item-content my-0" v-if="item.item.volume">{{ item.item.volume }} {{ item.item.volume_units }}</p>
                    </div>
                </div>
                <a :href="'/producto/' + item.item.slug">
                    <object class="cart-item-image" :data="item.item.image_url" type="image/png">
                        <img src="../../img/unknown_bottle.png">
                    </object>
                </a>
                <div class="badge badge-lg badge-secondary cart-item-price">
                    <span v-if="item.item.price">{{ item.item.price | currency }}</span>
                    <span v-else>¡Gratis!</span>
                </div>
            </div>
        </div>
        <div class="item-quantity bg-primary mt-3 text-center text-light" v-if="item.item.price">
            <div class="row no-gutters">
                <div class="col-4 text-center">
                    <button class="btn btn-block btn-primary py-2" @click="item.quantity--" :disabled="item.quantity == 1">-</button>
                </div>
                <div class="col-4 text-center py-2">
                    {{ item.quantity }}
                </div>
                <div class="col-4 text-center">
                    <button class="btn btn-block btn-primary py-2" @click="item.quantity++">+</button>
                </div>
            </div>
        </div>
        <div class="item-total bg-secondary p-3 mt-3 text-center text-light" v-if="item.item.price">
            {{ item.quantity * item.item.price | currency }}
        </div>
    </div>
</template>

<script>
import _ from 'lodash'
import productCartMixin from '../mixins/productCartMixin.js'

export default {
    data() {
        return { id: this.item.item.id }
    },
    props: ['item'],
    mixins: [ productCartMixin ],
    methods: {
        updateQuantityInCart: _.debounce((t) => {
            t.updateCartQuantity(t.item.quantity)
        }, 800)
    },
    watch: {
        'item.quantity'() {
            this.updateQuantityInCart(this);
        }
    }
}
</script>

<style lang="scss">
@import '../../sass/_variables.scss';

.cart-item {
    .card {
        color: $yiq-text-dark;
        overflow: hidden;
        min-height: 10em;
    }
}

.cart-item-image {
    position: absolute;
    right: 0;
    bottom: -3em;
    max-height: 11em;
}

.cart-item-price {
    position: absolute;
    bottom: 1em;
    left: 1em;
}
</style>
