<template>
	<div class="category-picker">
		<treeselect :options="treeselectOptions" v-model="v" :required="required" placeholder="Seleccione una categoría" :searchable="false"/>
	</div>
</template>

<style lang="sass">

// Variables
@import '../../sass/variables'

.vue-treeselect__control
	border-radius: 0
	padding: .375rem .75rem
	border: none
	border-bottom: solid 2px $primary
	width: 100%
	height: calc(1.6em + .75rem + 2px)
	padding: .375rem .75rem
	font-size: 1.2rem
	font-weight: 400
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
	&:focus
		border-color: $primary
		outline: 0
		box-shadow: 0 0 0 .2rem rgba(221,101,16,.25)
</style>

<script>
import Treeselect from '@riophae/vue-treeselect'

import '@riophae/vue-treeselect/dist/vue-treeselect.css'

export default {
	components: { Treeselect },
	data: () => {
        return  {
            v: null,
        }
    },
	props: {
		'options': {
			type: Array,
			required: true,
			default: () => []
		},
		'value': {
			type: Number,
			required: false,
			default: () => null
		},
	},
	computed: {
		treeselectOptions() {
			return this.options.map(function n(option) {
				return {
					id: option.id,
					label: option.name,
					children: option.subcategories ? option.subcategories.map(n) : undefined
				}
			})
		},
	},
	watch: {
		options() {
			this.pickedIndex = null
		},
		v(e) {
			this.$emit('input', e)
		}
	},
}
</script>
