<template>
	<div class="dropdown-select" :id="id">
		<span class="select__value" @focus="showOptions = true" @blur="hideOptions" :tabindex="hasMoreOptions - 1">{{ getOptionLabel(chosenValue) }}<i class="icon" :class="showOptions ? 'icon--arrow-up' : 'icon--arrow-down'" v-if="hasMoreOptions"></i></span>
		<ul class="select__options" :class="{'visible': showOptions, 'align-left': align == 'left'}" v-if="hasMoreOptions">
			<li class="select__option" v-for="option in options" :value="option.value" @mousedown="chosenValue = option.value" v-if="option.value != chosenValue">{{ option.label }}</li>
		</ul>
	</div>
</template>

<script>
module.exports = {
	props: ['options', 'value', 'align', 'id'],
	data: function () {
		return {
			showOptions: false,
			chosenValue: this.value
		}
	},
    computed: {
        hasMoreOptions() {
            return this.options.length - Boolean(this.chosenValue)
        }
    },
	methods: {
		getOptionLabel: function (value) {
			for (let i=0; i<this.options.length; i++) {
				if (this.options[i].value == value)
					return this.options[i].label;
			}
		},
		hideOptions: function () {
			const that = this;
			that.showOptions = false;
		}
	},
	watch: {
		value: function (val) {
            this.chosenValue = val
		},
		chosenValue: function (val) {
			this.$emit('input', val);
		}
	}
}
</script>

<style lang="sass">
@import '../../sass/_variables.scss'
.dropdown-select
	cursor: pointer
	display: inline-block
	letter-spacing: inherit
	position: relative
	.select__options
		padding: 0.5em
		padding-top: 0
		margin: 0
		right: 0
		top: 100%
		list-style: none
		display: none
		background-color: $dark
		letter-spacing: inherit
		text-align: right
		position: absolute
		z-index: 6
		&.visible
			display: block
		&.align-left
			left: -0.5em
			right: auto
			text-align: left
		.select__option
			white-space: nowrap
			&:not(:last-child)
				padding-bottom: 0.5em
</style>
