<template>
    <div class="card loading-product">
        <div class="card-body">
            <div class="row">
                <div class="col-7">
                    <div class="card-title"></div>
                    <p class="product-volume"></p>
                    <p class="product-type"></p>
                    <div class="badge badge-lg badge-secondary loading-product-price">&nbsp;</div>
                    <button class="btn cart-btn mt-4">&nbsp;</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import productCartMixin from '../mixins/productCartMixin.js'

export default {
}
</script>

<style lang="scss">
@import '../../sass/_variables.scss';

.loading-product {
    .card-title {
        display: block;
        height: 1.5em;
        background-color: transparentize($yiq-text-dark, 0.2);
        border-radius: 3px;
        margin-bottom: 0.7em;
    }
    .product-type, .product-volume {
        background-color: transparentize($yiq-text-dark, 0.4);
        border-radius: 3px;
        display: block;
        height: 1em;
        margin-bottom: 0.7rem;
    }
    .product-type {
        width: 6em;
    }
    .product-volume {
        width: 4em;
    }
    .cart-btn {
        display: block;
        background-color: $primary;
        pointer-events: none;
        opacity: 0.4;
        width: 3em;
    }
    .loading-product-price {
        width: 7em;
    }
    background-color: darken($body-bg, 20%);
    color: $yiq-text-dark;
    overflow: hidden;
    min-height: 12em;
    transition: transform 400ms;
    animation: loading-placeholder 1s infinite forwards;
}

@keyframes loading-placeholder {
    0%, 100% {
        transform: translateY(0);
        opacity: 0.5;
    }

    30% {
        transform: translateY(-3px);
        opacity: 0.3;
    }
}
</style>
