<template>
    <div class="card order-preview mb-3">
        <div class="card-header">
            <div class="row">
                <div class="col-8 col-md-9">
                    <h5 class="card-heading py-2 mb-0">Orden #{{ order.id }}</h5>
                    <div class="badge badge-info">
                        Hecha <timeago :datetime="order.created_at" locale="es"></timeago>
                    </div>
                </div>
                <div class="col-4 col-md-3">
                    <a :href="'/orden/' + order.id + '/estado'" class="btn btn-block btn-outline-info align-middle">Ver estado</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            {{ order.products_quantity }} producto{{ order.products_quantity == 1 ? '' : 's' }}
        </div>
    </div>
</template>

<script>
import Vue from 'vue'
import VueTimeago from 'vue-timeago'

Vue.use(VueTimeago, {
    name: 'Timeago',
    locale: 'es',
    locales: {
        es: require('date-fns/locale/es')
    }
})

export default {
    data() {
        return {}
    },
    props: ['order'],
}
</script>
