<template>
    <div class="row">
        <div class="col-md-6 col-lg-4" v-for="recipe in recipes">
            <recipe-thumbnail :recipe="recipe"></recipe-thumbnail>
        </div>
    </div>
</template>

<script>
import RecipeThumbnail from './RecipeThumbnail.vue'

export default {
    components: { RecipeThumbnail },
    props: ['product-id'],
    created() {
        const t = this
        this.$store.dispatch('fetchProductRecipes', this.productId)
    },
    computed: {
        recipes() { return this.$store.getters.getProductRecipes(this.productId) }
    }
}
</script>
