<template>
    <div class="card product h-100">
        <div class="card-body h-100">
            <div class="row align-items-stretch">
                <div class="col-md-5 order-md-2 product-image-container">
                    <a :href="'/producto/' + product.slug" class="stretched-link">
                        <object :data="product.thumbnail_url" type="image/png" class="product-image img-fluid">
                            <img src="../../img/unknown_bottle.png" class="product-image img-fluid">
                        </object>
                    </a>
                </div>
                <div class="col-md-7 order-md-1">
                    <h5 class="card-title my-0">{{ product.name }}</h5>
                    <p class="product-volume my-0">{{ product.volume }}{{ product.volume_units }}</p>
                    <p class="product-type my-0">{{ product.type }}</p>
                    <div class="product-price my-3">
                        <span class="badge badge-lg badge-secondary">{{ product.price | currency }}</span>
                    </div>
                    <div class="product-to-cart">
                        <template v-if="quantityInCart == 0">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend" @click="quantityToCart--">
                                    <button class="btn btn-primary">
                                        <span aria-hidden="true">-</span>
                                        <span class="sr-only">Menos</span>
                                    </button>
                                </div>
                                <input type="number" min="1" step="1" max="1000" v-model="quantityToCart" class="form-control"/>
                                <div class="input-group-append">
                                    <button class="btn btn-primary" @click="quantityToCart++">
                                        <span aria-hidden="true">+</span>
                                        <span class="sr-only">Más</span>
                                    </button>
                                </div>
                            </div>
                            <button class="btn btn-primary btn-block" @click="addToCart(quantityToCart)">
                                <i class="icon" :class="loading ? 'icon--loader' : 'icon--cart'">
                                    <span class="cart-contents" v-if="!loading">+</span>
                                </i>
                            </button>
                        </template>
                        <button class="btn btn-secondary" @click="removeFromCart" title="Quitar del carrito" v-else>
                            <i class="icon" :class="loading ? 'icon--loader' : 'icon--cart'">
                                <span class="cart-contents" v-if="!loading">
                                    {{ quantityInCart }}
                                </span>
                            </i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import productCartMixin from '../mixins/productCartMixin.js'

export default {
    mixins: [productCartMixin],
    data() {
        return {
            quantityToCart: 1,
        }
    },
    props: ['product']
}
</script>

<style lang="scss">
@import '../../sass/_variables.scss';

.product {
    color: $yiq-text-dark;
    transition: transform 400ms;
    &:hover {
        transform: translateY(-3px);
        .product-image {
            transform: scale(1.1);
        }
    }
}

.product-image-container {
    text-align: center;
    .product-image {
        max-height: 12em;
        transition: transform 400ms;
    }
}
</style>
