<template>
    <form @submit.prevent="doSearch">
        <div class="form-group">
            <label for="query">Búsqueda</label>
            <input type="text" class="form-control" name="query" v-model="search.query"/>
        </div>
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <label for="type">Tipo</label>
                <category-picker :options="categories" :is-root=false v-model="search.category_id"/>
            </div>
            <div class="col-lg-3 col-sm-6">
                <label for="order">Ordenar por</label>
                <select class="form-control" name="order" v-model="search.order">
                    <option value="id,desc">Más nuevos</option>
                    <option value="name,asc">Nombre (A - Z)</option>
                    <option value="name,desc">Nombre (Z - A)</option>
                    <option value="price,asc">Precio (menor a mayor)</option>
                    <option value="price,desc">Precio (mayor a menor)</option>
                </select>
            </div>
            <div class="col-lg-4">
                <label>&nbsp;</label>
                <button class="btn btn-block btn-primary">Buscar</button>
            </div>
        </div>
    </form>
</template>

<script>
import { mapGetters } from 'vuex'

import CategoryPicker from './CategoryPicker'

export default {
    components: { CategoryPicker },
    data() {
        return {
            search: {
                query: '',
                category_id: null,
                order: 'id,desc',
            }
        }
    },
    props: ['search-model'],
    methods: {
        doSearch() {
            this.$emit('submit', this.search)
        }
    },
    computed: {
        ...mapGetters({
            categories: 'getCategories'
        })
    },
    watch: {
        searchModel(value) {
            if (!value)
                return
            Object.assign(this.search, value)
        },
        'search.category_id': (v) => {
            console.log(v)
        }
    }
}
</script>
