<template>
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
                <object :data="product.image_url" type="image/png" class="img-fluid product-img">
                    <img src="../../img/unknown_bottle.png">
                </object>
                <label class="badge badge-xl badge-secondary product-price">{{ product.price | currency }} c/u</label>
            </div>
            <div class="col-md-8">
                <h1>{{ product.name }}</h1>
                <h2>{{ product.volume + product.volume_units }}</h2>
                <h5>{{ product.type }}</h5>
                <span class="badge badge-secondary mr-1" v-for="flavor in product.flavors">{{ product.flavor }}</span>
                <p>{{ product.description }}</p>
                <h6>{{ product.abv }}% alc./vol.</h6>
                <div class="row">
                    <div class="col-6" v-if="product.ideal_for.length">
                        <h4>Ideal para</h4>
                        <span class="badge badge-secondary mr-1" v-for="ideal in product.ideal_for">{{ ideal }}</span>
                    </div>
                    <div class="col-6" v-if="product.pairing.length">
                        <h4>Se lleva bien con</h4>
                        <span class="badge badge-secondary mr-1" v-for="pairing in product.pairing">{{ pairing }}</span>
                    </div>
                </div> <!-- .row -->
                <section id="addToCart">
                    <h3>{{ callToAction }}</h3>
                    <div class="row">
                        <div class="col-sm-5">
                            <label for="quantity">Cantidad:</label>
                            <div class="input-group">
                                <button class="btn btn-primary" @click="quantity--" :disabled="quantity == 1">-</button>
                                <input v-model.number="quantity" class="form-control" type="number" step="1" min="1"/>
                                <button class="btn btn-primary" @click="quantity++">+</button>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <label>&nbsp;</label>
                            <button class="btn btn-secondary btn-block" @click="(quantityInCart ? updateCartQuantity(quantity) : addToCart(quantity))" :disabled="quantity == quantityInCart">
                                <i class="icon icon--loader" v-if="loading"></i>
                                <span v-else>{{ callToAction }}</span>
                            </button>
                        </div>
                    </div> <!-- row -->
                    <small class="text-info" v-if="unitsDelta < 0 && quantityInCart">Se {{ unitsDelta == -1 ? 'quita' : 'quitan' }} {{ -unitsDelta }} {{ unitsDelta == -1 ? 'unidad' : 'unidades' }} del carrito</small>
                    <small class="text-info" v-if="unitsDelta > 0 && quantityInCart">Se {{ unitsDelta == 1 ? 'agrega' : 'agregan' }} {{ unitsDelta }} {{ unitsDelta == 1 ? 'unidad' : 'unidades' }} al carrito</small>
                </section>
            </div> <!-- .col-md-8 -->
        </div> <!-- .row -->
    </div> <!-- .container -->
</template>

<script>
import productCartMixin from '../mixins/productCartMixin.js'

export default {
    mixins: [ productCartMixin ],
    props: ['product'],
    data() {
        return { quantity: 1 }
    },
    mounted() { this.quantity = this.quantityInCart || 1 },
    watch: {
        quantity() {
            this.quantity = Number(this.quantity)

            if (this.quantity < 1)
                this.quantity = 1
        },
        quantityInCart() { this.quantity = this.quantityInCart || 1 },
    },
    computed: {
        callToAction() {
            return this.quantityInCart ? "Actualizar carrito" : "Agregar al carrito"
        },
        unitsDelta() {
            return this.quantity - this.quantityInCart
        }
    }
}
</script>

<style>
.product-img {
    max-height: 85vh;
}
</style>
