<template>
    <div class="card">
        <div class="card-content">
            <div style="max-height: 8rem; overflow: hidden;">
                <img class="img-fluid" :src="recipe.image_url">
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ recipe.name }}</h5>
                <p class="small">{{ recipe.description}}</p>
                <a :href="'/recetas/' + recipe.slug" class="stretched-link">Ver preparación</a>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {}
    },
    props: ['recipe']
}
</script>
