<template>
    <simplebar>
        <div class="d-flex py-3">
            <div class="col-9 col-lg-7 col-xl-5" v-for="product in relatedProducts">
                <product :product="product"></product>
            </div>
        </div>
    </simplebar>
</template>

<script>
import Product from './Product'

export default {
    props: ['related-to'],
    created() {
        this.$store.dispatch('fetchRelatedProducts', this.relatedTo)
    },
    components: { Product },
    computed: {
        relatedProducts() {
            return this.$store.getters.getRelatedProducts(this.relatedTo)
        }
    }
}

</script>
