<template>
    <gmap-map class="store-map" map-type-id="terrain" :center="{lat: 20.809886, lng: -102.765284}" :zoom="14">
        <gmap-marker :key="index" v-for="(store, index) in stores" :position="{ 'lat': Number(store.lat), 'lng': Number(store.lng) }"></gmap-marker>
    </gmap-map>
</template>

<script>
import Vue from 'vue'

import { mapGetters } from 'vuex'
import * as VueGoogleMaps from 'vue2-google-maps'

Vue.use(VueGoogleMaps, {
    load: {
        key: 'AIzaSyBPgXmRxlBbtCqLxNr0a_0oQ1r58D7tgKI',
    }
})

export default {
    props: ['stores'],
    data() {
        return {}
    },
    components: {
        VueGoogleMaps
    },
    computed: {
    },
}
</script>

<style lang="scss">
.store-map {
    height: 20rem;
    display: block;
    width: 100%;
}
</style>
