<template>
	<div @click="toggleSelected" class="advisor-factor" :class="{'selected': selected}">
		<slot></slot>
		<div class="selection-bar"></div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			selected: false
		}
	},
	methods: {
		toggleSelected: function () {
			this.selected = !this.selected;
		}
	},
	watch: {
		selected: function (val) {
			this.$emit('factorToggled', val);
		}
	}
}
</script>
