<template>
	<div class="drink-advisor">
		<div class="row mt-3">
			<div class="col-md-4">
				<section class="mb-3">
					<label>Bebidas para {{ enumeratedIdeals }}</label>
					<select class="form-control" @change="updateIdeals">
						<option value="" selected>{{ selectedIdeals.length ? selectedIdeals[selectedIdeals.length - 1] : 'Seleccione un ideal' }}</option>
						<option v-for="ideal in ideals" v-if="selectedIdeals.indexOf(ideal) == -1">{{ ideal }}</option>
					</select>
                    <span class="mr-1 ideal" v-for="(ideal, idx) in selectedIdeals">
                        <span class="badge badge-dark">
                            {{ ideal }}
                        </span><span class="badge badge-danger" style="cursor: pointer" @click="selectedIdeals.splice(idx, 1)">
                            &times;
                            <div class="sr-only">Remover</div>
                        </span>
                    </span>
				</section>
				<section>
                    <label>Que se lleven bien con {{ enumeratedPairings }}</label>
					<select class="form-control" @change="updatePairings">
						<option value="" selected>{{ selectedPairings.length ? selectedPairings[selectedPairings.length - 1] : 'Seleccione un acompañamiento' }}</option>
						<option v-for="pairing in pairings" v-if="selectedPairings.indexOf(pairing) == -1">{{ pairing }}</option>
					</select>
                    <span class="mr-1 pairing" v-for="(pairing, idx) in selectedPairings">
                        <span class="badge badge-dark">
                            {{ pairing }}
                        </span><span class="badge badge-danger" style="cursor: pointer" @click="selectedPairings.splice(idx, 1)">
                            &times;
                            <div class="sr-only">Remover</div>
                        </span>
                    </span>
				</section>
			</div>
			<div class="col-md-8">
				<section id="drinkAdvisorResults">
					<simplebar style="overflow-y: hidden">
                        <transition-group tag="div" class="d-flex py-3" name="fade-up">
                            <div class="product-card-container col-9 col-lg-7" v-for="(product, index) in recommendations" :class="{'pl-1': !index}" :key="product.id">
                                <product :product="product" :class="{ 'top-recommendation': index == 0 }"></product>
                            </div>
                        </transition-group>
					</simplebar>
				</section>
			</div>
		</div>
	</div>
</template>

<style lang="scss">
@import '../../../sass/_variables.scss';

.top-recommendation {
	box-shadow: 0 0 4px 0 transparentize($primary, 0.4);
}
</style>

<script>
import { mapGetters } from 'vuex'
import Product from '../Product';
import 'simplebar/dist/simplebar.min.css';

export default {
	props: ["products"],
	data: function () {
		return {
			selectedPairings: [],
			selectedIdeals: [],
		}
	},
	components: { Product },
	methods: {
		updateIdeals: function (e) {
			this.selectedIdeals.push(e.target.value);
		},
		updatePairings: function (e) {
			this.selectedPairings.push(e.target.value);
		}
	},
	computed: {
        ...mapGetters({
            pairings: 'getProductPairings',
            ideals: 'getProductIdeals'
        }),
		enumeratedIdeals: function () {
			if (this.selectedIdeals.length == 1)
				return this.selectedIdeals[0].toLowerCase();
			else if (this.selectedIdeals.length > 1)
				return (this.selectedIdeals.slice(0, -1).join(', ') + " y " + _.last(this.selectedIdeals)).toLowerCase();
			else
				return 'toda ocasión';
		},
		enumeratedPairings: function () {
			if (this.selectedPairings.length == 1)
				return this.selectedPairings[0].toLowerCase();
			else if (this.selectedPairings.length > 1)
				return (this.selectedPairings.slice(0, -1).join(', ') + " y " + _.last(this.selectedPairings)).toLowerCase();
			else
				return 'cualquier acompañamiento';
		},
		recommendations() {
            if (this.selectedIdeals.length + this.selectedPairings.length == 0)
                return this.products.slice(0, 5)

			var instance = this;

            var recs = this.products.map(product => {
				product.coincidence = 0;
				product.coincidence += _.intersection(product.ideal_for, instance.selectedIdeals).length;
				product.coincidence += _.intersection(product.pairing, instance.selectedPairings).length;
                return product
            })
            .filter(p => p.coincidence)
            .sort((a, b) => {
                return b.coincidence - a.coincidence;
            });
			return recs;
		}
	}
};
</script>
