<template>
    <div class="container my-5">
        <a class="small" href="/usuario/ordenes">Volver a mis órdenes</a>
        <h2>Orden #{{ order.id }}</h2>
        <h5 class="text-muted">Creada {{ order.created_at }}</h5>
        <div class="alert alert-warning" v-if="!order.paid">
            <h5>Su orden no ha sido pagada</h5>
            <p>Se cancelará automaticamente después de tres horas de haberse creado</p>
            <a class="btn btn-warning" href="" :href="'/orden/' + order.id + '/pago'">Ir a la página de pago</a>
        </div>
        <div class="alert alert-success" v-if="order.shipped">
            <h5>Su orden va en camino</h5>
        </div>
        <h4>Detalles</h4>
        <table class="table table-light">
            <thead class="table-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="product in order.products">
                    <th>{{ product.name }}</th>
                    <td>{{ product.price | currency }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>{{ product.quantity * product.price | currency }}</td>
                </tr>
                <tr class="total table-info">
                    <th colspan="3">Total</th>
                    <td>{{ order.amount | currency }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
    data() {
        return {}
    },
    props: ['order']
}
</script>
