<template>
    <form @submit.prevent="submit">
        <div class="form-group my-3">
            <h4>Resumen de tu compra</h4>
            <table class="table table-sm">
                <thead class="table-dark">
                    <tr>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in cart"  class="table-light">
                        <th>{{ item.item.name }}</th>
                        <td>{{ item.item.price | currency }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.quantity * item.item.price | currency }}</td>
                    </tr>
                    <tr class="table-secondary">
                        <th colspan="3">Total</th>
                        <td>{{ totalAmount | currency }}</td>
                    </tr>
                </tbody>
            </table>
            <small class="text-muted">Todos los precios se muestran en pesos mexicanos (MXN).</small>
        </div>
        <div class="form-group my-3">
            <h4>Dirección de envío</h4>
            <address-picker v-model="order.address.id" required></address-picker>
        </div>
        <div class="form-group my-3">
            <h4>Teléfono(s) de contacto</h4>
            <span class="badge badge-info">Opcional, altamente recomendado</span>
            <array-input :value="user.phone_numbers" display="block" class="my-2" @input="updatePhoneNumbers"/>
        </div>
        <div class="alert alert-warning" v-if="!cart.length">Para continuar deben haber productos en tu carrito</div>
        <div class="alert alert-warning" v-if="order.address.id == -1">Para continuar debes elegir una dirección de entrega</div>
        <button class="btn btn-primary btn-block btn-xl" :disabled="!canContinue">Terminar la compra</button>
    </form>
</template>

<script>
import AddressPicker from '../../address/AddressPicker'
import ArrayInput from '../../ArrayInput'
import { mapGetters } from 'vuex'

export default {
    data() {
        return {
            order: {
                address: {
                    id: -1
                },
                amount: 0
            },
        }
    },
    components: { AddressPicker, ArrayInput },
    created() {
        let t = this
        this.$store.dispatch('fetchAddresses')
        this.$store.dispatch('fetchUserPhoneNumbers')
    },
    computed: {
        ...mapGetters({ cart: 'getCart', user: 'getUser' }),
        canContinue() {
            return this.order.address.id != -1 && this.cart.length
        },
        'totalAmount'() {
            this.order.amount = _.sumBy(this.cart, (p) => { return p.quantity * p.item.price })
            return this.order.amount
        },
    },
    methods: {
        updatePhoneNumbers() {
            this.$store.dispatch('updatePhoneNumbers', this.user.phone_numbers)
        },
        submit() {
            let data = new FormData()
            data.append('address_id', this.order.address.id)

            axios.post('order', data).then((r) => {
                if (!r.isAxiosError)
                    window.location = "/orden/" + r.data.order_id + "/pago"
            })
        }
    }
}
</script>
