<template>
    <div class="address-picker">
        <table class="table borderless">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="address in addresses">
                    <td colspan="3" v-if="showEditor && address.id == addressEditor">
                        <address-editor :address-model="address" @submit="editAddress" @cancel="hideAddressEditor"></address-editor>
                    </td>
                    <template v-else>
                        <td>{{ address.name }}</td>
                        <td>{{ address.address }}</td>
                        <td><a @click="showAddressEditor(address.id)" href="#">Editar</a></td>
                        <td><button @click="deleteAddress(address)" class="btn btn-outline-danger">Eliminar</button></td>
                    </template>
                </tr>
            </tbody>
        </table>
        <address-editor v-show="showEditor && addressEditor == -1" @submit="addAddress" @cancel="hideAddressEditor"></address-editor>
        <button class="btn btn-outline-secondary btn-block" type="button" @click="showAddressEditor(-1)" v-show="!(showEditor && addressEditor == -1)">Agregar dirección</button>
    </div>
</template>

<script>
import AddressEditor from './AddressEditor'

export default {
    data() {
        return {
            addressEditor: -1,
            showEditor: false
        }
    },
    components: { AddressEditor },
    computed: {
        addresses() {
            let addresses = this.$store.getters.getAddresses

            return addresses.map((address) => {
                address.edit = false
                return address
            })
        }
    },
    methods: {
        showAddressEditor(addressId) {
            this.addressEditor = addressId
            this.showEditor = true

        },
        hideAddressEditor() {
            this.showEditor = false
        },
        addAddress(address) {
            let t = this
            this.$store.dispatch('insertAddress', { address: address }).then((r) => {
                if (!r.isAxiosError)
                    t.showEditor = false
            })
        },
        editAddress(address) {
            let t = this
            this.$store.dispatch('editAddress', { address: address }).then((r) => {
                if (!r.isAxiosError)
                    t.showEditor = false
            })
        },
        deleteAddress(address) {
            let t = this
            if (confirm('¿Verdaderamente desea eliminar esta dirección de entrega?'))
                this.$store.dispatch('deleteAddress', address)
        }
    },
}
</script>
