<template>
    <div class="address-picker">
        <table class="table borderless" :class="{ 'table-danger': selectedAddressId == -1 }">
            <thead>
                <tr>
                    <th></th>
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="address in addresses" :class="{ 'table-active': address.id == selectedAddressId }">
                    <td colspan="4" v-if="showEditor && address.id == addressEditor">
                        <address-editor :address-model="address" @submit="editAddress" @cancel="hideAddressEditor"></address-editor>
                    </td>
                    <template v-else>
                        <td><input type="radio" name="address.id" :value="address.id" v-model="selectedAddressId"></td>
                        <td>{{ address.name }}</td>
                        <td>{{ address.address }}</td>
                        <td><a @click="showAddressEditor(address.id)" href="#">Editar</a></td>
                    </template>
                </tr>
            </tbody>
        </table>
        <address-editor v-show="showEditor && addressEditor == -1" @submit="addAddress" @cancel="hideAddressEditor"></address-editor>
        <button class="btn btn-outline-secondary btn-block" type="button" @click="showAddressEditor(-1)" v-show="!(showEditor && addressEditor == -1)">Agregar dirección</button>
    </div>
</template>

<script>
import AddressEditor from './AddressEditor'

export default {
    data() {
        return {
            selectedAddressId: -1,
            addressEditor: -1,
            showEditor: false
        }
    },
    components: { AddressEditor },
    computed: {
        addresses() {
            let addresses = this.$store.getters.getAddresses

            return addresses.map((address) => {
                address.edit = false
                return address
            })
        }
    },
    methods: {
        showAddressEditor(addressId) {
            this.addressEditor = addressId
            this.showEditor = true

        },
        hideAddressEditor() {
            this.showEditor = false
        },
        addAddress(address) {
            let t = this
            this.$store.dispatch('insertAddress', { address: address }).then((r) => {
                if (!r.isAxiosError)
                    t.showEditor = false
            })
        },
        editAddress(address) {
            let t = this
            this.$store.dispatch('editAddress', { address: address })
        }
    },
    props: {
        required: {
            type: Boolean,
            required: false,
            default: false
        },
        value: {
            required: false,
            default: -1
        }
    },
    watch: {
        selectedAddressId(val) {
            this.$attrs.value = val
            this.$emit('input', val)
        },
        addresses(a) {
            if (this.selectedAddressId == -1)
                this.selectedAddressId = a[0].id
        }
    },
}
</script>
