<template>
    <form @submit.prevent="submit" class="bg-light p-5">
        <div class="form-group">
            <label for="address.name">Nombre</label>
            <input class="form-control" type="text" name="address.name" placeholder="Ejemplo: Casa" v-model="address.name" required/>
        </div>
        <div class="row">
            <div class="col-sm-5 col-xl-3 form-group">
                <label for="address.country">País</label>
                <select class="form-control" name="address.country" v-model="address.country" disabled required>
                    <option value="México" selected>México</option>
                </select>
            </div>
            <div class="col-sm-7 col-xl-3 form-group">
                <label for="address.state">Estado</label>
                <select class="form-control" name="address.state" v-model="address.state" disabled required>
                    <option value="Jalisco" selected>Jalisco</option>
                </select>
            </div>
            <div class="form-group col-xl-3 col-sm-8">
                <label for="address.city">Ciudad</label>
                <select class="form-control" name="address.city" v-model="address.city" disabled required>
                    <option value="Tepatitlán de Morelos" selected>Tepatitlán de Morelos</option>
                </select>
            </div>
            <div class="form-group col-sm-4 col-xl-3">
                <label for="address.zip_code">Código Postal</label>
                <input class="form-control" type="text" v-model="address.zip_code" required>
            </div>
        </div>
        <div class="alert alert-info">Por el momento solo hacemos envíos a Tepatitlán de Morelos, Jalisco</div>
        <div class="row">
            <div class="form-group col-lg-8">
                <label for="address.address">Dirección</label>
                <input v-model="address.address" class="form-control" type="text" placeholder="Calle, número" required>
            </div>
            <div class="form-group col-lg-4">
                <label for="address.suburb">Colonia</label>
                <input class="form-control" type="text" v-model="address.suburb" required>
            </div>
        </div>
        <div class="form-group">
            <label for="address.extra_info">Otra información</label>
            <textarea class="form-control" v-model="address.extra_info" placeholder="Información que pueda servir de referencia para el repartidor"></textarea>
        </div>
        <div class="text-right">
            <button class="btn btn-outline-secondary" @click="cancel" type="button">Cancelar</button>
            <button class="btn btn-outline-primary" type="submit">Guardar</button>
        </div>
    </form>
</template>

<script>
const emptyAddress = {
    name: '',
    address: '',
    state: 'Jalisco',
    city: 'Tepatitlán de Morelos',
    country: 'México',
    suburb: '',
    zip_code: '',
    extra_info: ''
}

export default {
    data() {
        return {
            address: _.cloneDeep(emptyAddress),
        }
    },
    props: {
        addressModel: {
            required: false,
            default: null
        }
    },
    watch: {
        addressModel(value) {
        }
    },
    methods: {
        submit() {
            this.$emit('submit', this.address)
        },
        cancel() {
            this.$emit('cancel')
        }
    },
    created() {
        if (this.addressModel) {
            Object.assign(this.address, this.addressModel)
        } else {
            Object.assign(this.address, emptyAddress)
        }
    }
}
</script>
